<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name = "Sample test Suite">
   <test name = "Sample test">
      <classes>
          <class name = "com.training.sanity.tests.LoginTests" />
          <class name = "com.training.sanity.tests.ELTC026_CreateClass" />
          <class name = "com.training.sanity.tests.ELTC027_SubscribeUserToClass" />
          <class name = "com.training.sanity.tests.ELTC028_AddCourseToClass" />
          <class name = "com.training.sanity.tests.ELTC029_RemoveClasses" />
         
          <class name = "com.training.sanity.tests.ELTC056_SubscribeUsersCoursesToSessions" />
          <class name = "com.training.sanity.tests.ELTC057_CareerPromotions" />
          <class name = "com.training.sanity.tests.ELTC058_CreateCourseSession" />
          <class name = "com.training.sanity.tests.ELTC059_CreateCourseSubscribeUser" />
          <class name = "com.training.sanity.tests.ELTC060_CreateUserSubscribeUserToClass" />
          
           <class name = "com.training.sanity.tests.ELTC030_LogoutTest" />
         
      </classes>
   </test>
</suite>